<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
<a th:href="@{/people/create}">Create new person</a>
</br>
<a th:href="@{/}">Back</a>
</br>
<hr width="100%" size="2">
<h>All people:</h>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ' ' + person.getSurname() + ' ' + person.getPatronymic() + ', ' + person.getBirthYear()}">user</a>
</div>
</body>
</html>