<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show person</title>
</head>
<body>
<h>Information about person:</h>
</br>
<div th:text="${person.getName() + ' ' + person.getSurname() + ' ' + person.getPatronymic() + ', ' + person.getBirthYear()}">
    user
</div>
<h>Information about person`s books:</h>
<a th:href="@{/people}">Back</a>
</br>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
</br>
<form th:method="DELETE" th:action="@{/people/{id}/delete(id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>